body {
    background-color:#f4eded;
    height: 100vh;
    display: grid;
}

.card-img-top {
    border-bottom: 1px solid;
    border: .8rem;
    width: 247.5px;
    height: 247.5px;
}
.card{
    border: 1px solid  grey;
    border: .8rem;
    margin: 15px auto;
}

.btn.btn-light {
     color: #670000;
     background-color: #e2e2e2;
    
}/* Mudando a cor do texto do botão antes do click e a cor do botão- 15-08*/
    
div.card-body {
    background-color:#670000;
    width: 247.5px;
    height: 194px;
} /*Alterado cor do card*/
    
.card-title {
    color: #e2e2e2
}/*alterado cor dos textos cards de preto para branco*/
    
.card-text {
    color: #e2e2e2
}/*alterado cor dos textos cards de preto para branco*/

.logo{
    border: 50%;
    height:5rem;
    width: 10rem;
}

.poppinsFont {
    font-family: Poppins;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.col-xs-12.col-sm-6.col-md-4.col-lg-3.card {
    margin: 8px;
}

img.d-block {
    width: 1150px;
    height: 400px;
} /* Adicionado Dimensões do carousel 15-08*/ 

#quantity{
    margin: 5px;
}