nav.navbar.navbar-expand-lg.navbar-light { 
    background-color: #670000; /*Mudei a cor da NavBar */
}

/*mudando o botão do carrinho na nav bar*/
button.btn.btn-primary {
    color: #e2e2e2;
    background: none;
}
.btn-primary {
    border-color: #670000;
    border: none;
    border-color: none;
}

.btn-primary:focus {
    box-shadow: none;
    border-color: none;
}

.btn-primary:hover {
    background: #670000;
}

/*modificando a cor do botão de "finalizar compra"*/
#comprar, .btn-btn-primary {
    background: #670000;
    color: #e2e2e2;
    text-align: center;
    border-color: #e2e2e2;
}


/* mudando as categorias para a cor #670000 e a cor de fundo para a #e2e2e2...*/
.dropdown-menu, .dropdown-item {
    color: #670000;
    background: #e2e2e2;
}
#navbarSupportedContent ul.navbar-nav.mr-auto li.nav-item a.nav-link{
    text-decoration: none;
    color: #e2e2e2;
}
.logo-navBar {
    border: 50%;
    height:5rem;
    width: 10rem;
} 
/*mudando a cor do botão buscar*/
.btn-outline-success {
    color: #670000;
    border-color: #670000;
    background-color: #e2e2e2;
}
.btn-outline-success:hover {
    background-color: green;
    border-color: #e2e2e2;
}


